@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'), url("Work_Sans/WorkSans-VariableFont_wght.ttf");
}

body {
    font-family: "WorkSans", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-align: center;
    margin: 2px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    width: 100%;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#hero {
    display: flex;
    height: 250px;
    background-image: url("pictures/hero3.jpg");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    color: rgb(28, 58, 46);
}

h2 {
    color: rgb(28, 58, 46);
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

h5 {
    font-style: italic;
}

#button {
    background-color: rgb(28, 58, 46);
    border-radius: 5px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: rgb(189, 183, 183);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(93, 170, 133);
}

#info {
    display: flex;
    flex-direction: column;
}

.info1, .info2, .info3 {
    background-color: rgb(115, 156, 140);
    flex: 1;
}

#skill {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.skill1, .skill2, .skill3, .skill4 {
    background-color: rgb(196, 174, 160);
    flex: 1;
}

img {
    width: 80%;
    border-radius: 40px;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 152, 154);
    text-align: center;
    flex: 1;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#blog {
    display: flex;
    flex-direction: column;
}

.blog1, .blog2, .blog3 {
    background-color: rgb(143, 181, 184);
    flex: 1;
}

form {
    background-color: rgb(106, 176, 149);
}

fieldset {
    border: none;

}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

#send {
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

footer {
    background-color: rgb(241, 194, 168);
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 770px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-column: 1 / 2;
    }
    
    #info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }

    .info1 {
        grid-column: 1 / 2;
    }

    .info2 {
        grid-column: 2 / 3;
    }

    .info3 {
        grid-column: 1 / 3;
    }

    img {
        width: 50%;
    }

    #skill {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .skill1 {
        grid-column: 1 / 2;
    }

    .skill2 {
        grid-column: 1 / 2;
    }

    .skill3 {
        grid-column: 1 / 2;
    }

    .skill4 {
        grid-column: 1 / 2;
    }

    #blog {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }
    
    aside {
        grid-column: 1 / 3;
    }

    .blog1 {
        grid-column: 1 / 2;
    }

    .blog2 {
        grid-column: 2 / 3;
    }

    .blog3 {
        grid-column: 1 / 3;
    }

    #formular {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    fieldset {
        text-align: center;
        grid-column: 1 / 2;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    #visitus {
        grid-column: 1 / 2;
    }

    #updated {
        grid-column: 2 / 3;
        align-items: center;
    }

    #quote {
        grid-column: 3 / 4;
    }
}

/* Laptop and small screen */
@media screen and (min-width: 771px) and (max-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-column: 1 / 2;
    }

    .logo {
        width: 50%;
        margin: auto;
    }
    
    #info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    img {
        width: 50%;
    }

    .info1 {
        grid-column: 1/2;
    }

    .info2 {
        grid-column: 2 / 3;
    }

    .info3 {
        grid-column: 3 / 4;
    }

    img {
        width: 50%;
    }

    #skill {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .skill1 {
        grid-column: 1 / 2;
    }

    .skill2 {
        grid-column: 1 / 2;
    }

    .skill3 {
        grid-column: 1 / 2;
    }

    .skill4 {
        grid-column: 1 / 2;
    }

    #blog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    aside {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    
    .blog1 {
        grid-column: 1 / 2;
    }

    .blog2 {
        grid-column: 1 / 2;
    }

    .blog3 {
        grid-column: 1 / 2;
    }

    #formular {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    fieldset {
        text-align: center;
        grid-column: 1 / 2;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    #visitus {
        grid-column: 1 / 2;
    }

    #updated {
        grid-column: 2 / 3;
        align-items: center;
    }

    #quote {
        grid-column: 3 / 4;
    }
}

/* Large screen and desktop */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-column: 1 / 2;
    }

    .logo {
        width: 50%;
        margin: auto;
    }

    h5 {
        text-align: center;
    }
    
    #info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info1 {
        grid-column: 1 / 2;
    }

    .info2 {
        grid-column: 2 / 3;
    }

    .info3 {
        grid-column: 3 / 4;
    }

    img {
        width: 50%;
    }

    #skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .skill1 {
        grid-column: 1 / 2;
    }

    .skill2 {
        grid-column: 2 / 3;
    }

    .skill3 {
        grid-column: 1 / 2;
    }

    .skill4 {
        grid-column: 2 / 3;
    }

    #blog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    aside {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
    
    .blog1 {
        grid-column: 1 / 2;
    }

    .blog2 {
        grid-column: 1 / 2;
    }

    .blog3 {
        grid-column: 1 / 2;
    }

    #formular {
        display: grid;
        grid-template-columns: 1fr;
    }

    fieldset {
        text-align: center;
        grid-column: 1 / 2;
    }

    input {
        width: 50%;
    }

    textarea {
        width: 50%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #visitus {
        grid-column: 1 / 2;
    }

    #updated {
        grid-column: 2 / 3;
        align-items: center;
    }

    #quote {
        grid-column: 3 / 4;
    }
}

/* TV and extra large screen */
@media screen and (min-width: 1201px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-column: 1 / 2;
    }

    .logo {
        width: 50%;
        margin: auto;
    }
    
    #info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    .info1 {
        grid-column: 1 / 2;
    }

    .info2 {
        grid-column: 2 / 3;
    }

    .info3 {
        grid-column: 3 / 4;
    }

    img {
        width: 50%;
    }

    #skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .skill1 {
        grid-column: 1 / 2;
    }

    .skill2 {
        grid-column: 2 / 3;
    }

    .skill3 {
        grid-column: 1 / 2;
    }

    .skill4 {
        grid-column: 2 / 3;
    }

    #blog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    aside {
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }

    .blog1 {
        grid-column: 1 / 3;
    }

    .blog2 {
        grid-column: 1 / 2;
    }

    .blog3 {
        grid-column: 2 / 3;
    }

    #formular {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    fieldset {
        text-align: center;
        grid-column: 1 / 2;
    }

    input {
        width: 50%;
    }

    textarea {
        width: 50%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
    }

    #visitus {
        grid-column: 1 / 2;
    }

    #updated {
        grid-column: 2 / 3;
        align-items: center;
    }

    #quote {
        grid-column: 3 / 4;
    }
}